body {
    background-color: dimgrey;
}

p {
    color: rgb(166, 236, 166); text-align: center; font-size: larger;
}

h1 {
    color: rgba(12, 245, 12, 0.326); text-align: center; font-size: 100px;
}

h2 {
    color: rgba(12, 245, 12, 0.326); text-align: left; font-size: 50px;
}

div #MySummary { 
    width: 650px; margin-left: auto; margin-right: auto;
}

div #h2 { 
    width: 300px;
}

div #List { 
    width: 400px; margin-left: auto; margin-right: auto;
}

ul {
    text-decoration: underline; display: inline-block; color: rgb(42, 208, 42);
}

li {
    text-align: left; 
}




